.site-footer {
  background: url(../../images/dark-wood@2x.png);
  background-size: 35%;
  background-repeat: repeat;
  height: 350px;
  width: 100%;
  color: white;
  .footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10rem;
    .footer-item {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      flex-grow: 1;
    }
    .footer-logo {
      flex-grow: 3;
      text-align: right;
      margin-right: 10rem;
    }
  }
  .fa-facebook-square,
  .fa-twitter-square,
  .fa-google-plus-square {
    margin-right: 1rem;
  }
  span {
    margin-top: 1rem;
  }
  a {
    color: white;
    text-decoration: none;
    font-family: $font-me;
  }
  h3 {
    font-family: $font-no;
    text-transform: uppercase;
    color: #d99054;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0.5rem;
  }
  img {
    width: 50%;
    margin-top: 1rem;
  }
  .site-info {
    text-align: center;
    text-transform: uppercase;
    font-family: $font-no;
    p {
      padding-top: 2rem;
      margin-bottom: 0;
    }
  }
  .hours {
    font-family: $font-me;
  }
  .day-of-week {
    font-weight: 700;
  }
}