/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */


/* Journal & About page*/

//* Header Original*//  

  .blog,
  .page-id-18 {
    .site-content{
      display: flex;
    }
    .content-area {
      width: 72%;
    }
    .logo {
      width:52px;
      }
    li,
    .page_item {
      margin-left: 1rem;
      display: flex;
      align-self: flex-end;
    }
    ul{
      
    //about
    li.page-item-4{
      order: 0;
    }
    //find us
    li.page-item-18{
      order: 0;
    }
    //journal
    li.page-item-34{
  order: 1;
    }
    //shop
    li.page-item-32{
      order: 1;
    }
  }

    .logo-nav{
      display: flex;
      max-width: 100%;
      padding: 0.3rem 10rem;
      border-bottom: 1px solid #e1e1e1;
      .search-submit {
        border: none;
        background: none;
        box-shadow: none;
      }
    }

    nav,
    .main-navigation {
      clear: both;
      display: flex;
      align-items: center;
      width: 100%;
      align-self: center;
      justify-content: flex-end;
      text-transform: uppercase;
      font-family: $font__main;
    }

    fieldset {
      border-style: none;
      padding: 0;
      margin: 0;
      margin-left: 1rem;
      button{
        padding: 0;
      }
    }

    .search-field {
      border-style: none;
    }

    .entry-header {
      margin-top: 3rem;
      position: relative;
      img{
      width: 100%;
      }
      h2,
      .entry-title{
        background: $color__link;
        height: 100px;
        width: 500px;
        position: absolute;
        bottom: 20rem;
        text-align: center;

        a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        }

        .widget-area{
          text-align: start;
          
        }
        .search-form{
          display: none;
        }

      }
    }
  }