/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

/* Journal & About page*/
  body,
  .blog {
    .logo {
      width:52px;
      }
    li,
    .page_item {
      margin-left: 1rem;
      display: flex;
      align-self: flex-end;
    }
    //about
    li,page-item-4{

    }
    //find us
    li,page-item-18{

    }
    //journal
    li,page-item-34{

    }
    //shop
    li page-item-32{
      
    }

    .logo-nav{
      display: flex;
      max-width: 100%;
      padding: 0.3rem 10rem;
      border-bottom: 1px solid #e1e1e1;
    }

    nav,
    .main-navigation {
      clear: both;
      display: flex;
      width: 100%;
      align-self: center;
      justify-content: flex-end;
      text-transform: uppercase;
      font-family: $font__main;
    }

    .entry-header {
      margin-top: 3rem;
      position: relative;
      h2,
      .entry-title{
        background: $color__link;
        height: 100px;
        width: 500px;
        position: absolute;
        bottom: 20rem;
        text-align: center;

        a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        }

      }
    }
  }