/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
.content-area,
.widget-area,
:not(.page-tempalte-about.content-area) {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Front page */

.home {
  .container {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-transform: uppercase;
    font-family: $font-no;
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 3.75rem 0 3.75rem 0;
  }
  /* Frontpage Hero image*/
  .hero-container {
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url(../../images/home-hero.jpg),;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-logo {
      position: absolute;
      
    }
  }
  /*Shop Stuff*/
  .product-info {
    width: 1120px;
    max-width: 100%;
    font-family: $font-me;
  }
  .product-type-blocks {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }
  .product-type-block-wrapper {
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    text-align: center;
    max-width: 23.5%;
    padding: 1rem;
    font-size: 15px;
    img {
      width: 30%;
    }
    .btn {
      font-family: $font-no;
      text-decoration: none;
      text-transform: uppercase;
      padding: .75rem 1.5rem;;
      color: white;
      background: $color__link;
    }
  }
  // * Inhab Journal *//
  .inhab-journal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .journal-info {
      display: flex;
      flex-direction: column;
      max-width: 360px;
      img{
        position: relative;
        height: 255px;
        width: 360px;
      }
      
    .post-info {
      border: 1px solid #e1e1e1; 
      border-top-width: 5px;
      padding: 1rem;
      position: relative;
      a{
        text-decoration: none;
      }
      p {
        font-family: $font-no;
        font-size: .9rem;
        text-transform: uppercase;
        position: absolute;
        bottom: 1rem;
        padding: .75rem 1.5rem;
        margin: 0;
        border: 1px solid black; 
        color: black;
      }
    }
    .entry-meta {
      font-family: $font-me;
      font-size: .7rem;
    }
    .entry-title {
      font-family: $font-no;
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 4rem;
      a{
      text-decoration: none;
      }
    }
  }
  }
} //.home
 //* frontpage and about content*//
.home,
.page-template-about {
  .container {
    width: 100%;
    margin-bottom: 4rem;
  }
  .entry-content {
    text-align: center;
    margin: 1rem 20rem;
  }
}
// ONLY about page
.page-template-about {
  .entry-header{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: $font-no;
    font-size: 1.5rem;
  }
  h2 {
    text-transform: uppercase;
    color: black;
    font-family: $font-no;
    font-size: 2rem;
  }
  .p1{
    font-family: $font-me;
    text-align: left;
    margin-bottom: 1.5rem;
  }
}
//* journal and find us page*//  
.blog,
.page-template-default {
  .site-content {
    display: flex;
  }
  .content-area {
    width: 72%;
  }
  .entry-header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: relative;
    img {
      width: 100%;
    }
    h2,
    .entry-title {
      background: $color__link;
      height: 100px;
      width: 500px;
      position: absolute;
      top: 0;
      text-align: center;
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
      }
      .widget-area {
        text-align: start;
      }
      .search-form {
        display: none;
      }
    }
  }
}